<h1 class="text-5xl pb-4">Buscador de heroes</h1>

<form class="mt-6">
  <div class="mb-6 flex">
    <input  type="text"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="Introduzca el nombre del superheroe"
            [(ngModel)]="termino"
            name="superhero"
            required>
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800   font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 ml-5 text-center" (click)="searchHoeroes()">Submit</button>
  </div>
</form>
