form{
  width: 80%;
}
.img-container img{
  height: 100%;
}

.button{
  width: 100%;
}

@media screen and (min-width: 1024px) {
  form{
    width: 100%;
  }
  .column{
    width: 50%;
  }

  .row{
    width: 45%;
  }

  .img-container{
    margin-left: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .img-container{
    order: -9999;
    margin-bottom: 20px;
  }
}
