<h1 class="text-5xl text-center">{{title}}</h1>

<form class="mt-12 flex flex-row space-x-12 px-18">
  <div class="column space-y-6">

    <div class="flex flex-row justify-between">
      <div class="row">
        <label for="superhero" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Super Heroe</label>
        <input  type="text"
                id="superhero"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5"
                placeholder="Superheroe"
                required
                name="superhero"
                [(ngModel)]="hero.superhero">
      </div>

      <div class="row">
        <label for="alter_ego" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Alter Ego</label>
        <input  type="text"
                id="alter_ego"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5"
                placeholder="Alter Ego"
                required
                name="alter_ego"
                [(ngModel)]="hero.alter_ego">
      </div>
    </div>

    <div>
      <label for="first_appearance" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Primera aparicion</label>
      <input  type="text"
              id="first_appearance"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5"
              placeholder="Primera aparicion"
              required
              name="first_appearance"
              [(ngModel)]="hero.first_appearance">
    </div>

    <div>
      <label for="characters" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Personajes</label>
      <input  type="text"
              id="characters"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5"
              placeholder="Personajes"
              required
              name="characters"
              [(ngModel)]="hero.characters">
    </div>

    <div>
      <label for="creator" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Creador</label>
      <select   id="creator"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5 "
                name="creator"
                [(ngModel)]="hero.publisher">
        <option *ngFor="let publisher of publishers">{{publisher.id}}</option>
      </select>
    </div>

    <div class="">
      <label for="alt_img" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Foto Url</label>
      <input  type="text"
              id="alt_img"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5"
              placeholder="Foto Url"
              required
              name="alt_img"
              [(ngModel)]="hero.alt_img">
    </div>

    <div class="flex flex-row justify-between">
      <div class="button">
        <button class="w-full bg-gray-500 hover:bg-gray-300 py-2 rounded text-white font-bold" (click)="saveHero()">Guardar</button>
      </div>

      <div class="button" *ngIf="hero.id">
        <button class="w-full bg-red-800 hover:bg-red-300 py-2 rounded-sm text-white font-bold" (click)="deleteHero()">Borrar</button>
      </div>

      <app-modal-delete *ngIf="modal"
                        [modal]="modal"
                        [hero]="hero">
      </app-modal-delete>
    </div>
    </div>

  <div class="column ">
    <img [src]="hero | imagen" alt="">
  </div>

  <app-alert [alert] = "alert"></app-alert>

</form>

